<div class="chat-window">
    <div class="app-messages" id="app-messages">
        <div *ngFor="let chat of _chatService.chats" class='chat-div'
             [ngClass]="{ 'text-right': _chatService.user.uid === chat.from_uid }">
            <div class="username-div" *ngIf='_chatService.user.uid !== chat.from_uid'
                    [ngClass]="{
                        'my-username-span': _chatService.user.uid === chat.from_uid,
                        'your-username-span': _chatService.user.uid !== chat.from_uid
                    }">
                {{ chat.name }}
            </div>
            <div class='message-div'>
                <div class='message-span'
                    [ngClass]="{
                        'text-right-span': _chatService.user.uid === chat.from_uid,
                        'text-left-span': _chatService.user.uid !== chat.from_uid
                    }">
                    {{ chat.message }}
                </div>
            </div>
        </div>
    </div>
    <div class='message-input-div'>
        <input
            class="message-input"
            type="text"
            name="message"
            [(ngModel)]="message"
            (keyup.enter)="sendMessage()"
            placeholder="what's on your mind?"
        />
        <button (click)="sendMessage()" class='send-button'>
            <strong>Send</strong>
        </button>
    </div>
</div>
