<div class='container'>
    <div>
        Page Chat
    </div>
    <div>
        <p>Current URL</p>
        <p>{{url}}</p>
        <div>
            {{ (authService.afAuth.user | async)?.uid}}
        </div>
    </div>
    <div *ngIf="authLoaded">
        <div *ngIf="(authService.afAuth.user | async) === null">
            <div>
                <label>Email</label>
                <input [(ngModel)]="email" type="email">
            </div>
            <div>
                <label>Passowrd</label>
                <input [(ngModel)]="password" type="password">
            </div>
            <div>
                <button (click)="signInWithEmail()">
                    Sign In
                </button>
                <button (click)="signUpWithEmail()">
                    SignUp
                </button>
            </div>
            <div>
                <button (click)='authService.signInWithGoogle()'>
                    Sign in with Google
                </button>
            </div>
        </div>
        
        <!-- 1 of 2 views: if not chatting, can see list of people -->
        <div *ngIf='!chatService.inchat'>
            <div *ngIf="authService.afAuth.user | async">
                <div>
                    <p>Friends List</p>
                    <div *ngFor='let friend of friends'>
                        {{ friend.uid }}
                    </div>
                </div>
                <div>
                    <p>Online Friends</p>
                    <div *ngFor='let user of onlineUsers'>
                        <div *ngIf='user.isFriend'>
                            {{ user.email ? user.email : user.uid }}
                            <button (click)='updateRoom(user.uid)'>
                                chat
                            </button>
                        </div>
                    </div>
                </div>
        
                <div>
                    <p>Online Users</p>
                    <div *ngFor='let user of onlineUsers'>
                        <div *ngIf='!user.isFriend'>
                            {{ user.uid  }}
                            <button (click)='updateRoom(user.uid)'>
                                chat
                            </button>
                        </div>
                    </div>
                </div>

                <input [(ngModel)]="friendUid" type="text">
                <button (click)="addFriend()">
                    Add Friend
                </button>
                <button (click)='authService.signOut()'
                        *ngIf='authService.afAuth.user | async'>
                    Sign Out
                </button>
                
                <!-- basically switches between the views -->
                <button (click)='openChat()'>
                    Open Last Chat
                </button>
            </div>
        </div>

        <!-- 2 of 2 views: chatting -->
        <div *ngIf='chatService.inchat'>
            <div *ngIf='(authService.afAuth.user | async)'>
                <!-- basically switches between the views -->
                <button (click)='closeChat()'>
                    Close Chat
                </button>
                
                <button (click)='authService.signOut()'>
                    Sign Out
                </button>

                <app-chat></app-chat>
            </div>
        </div>
    </div>
        
</div>

<!-- <router-outlet></router-outlet> -->