<div class='container'>
    <div>
        Page Chat
    </div>
    <div>
        <p>Current URL</p>
        <p>{{url}}</p>
        <div>
            {{ firebaseService.counter }}
        </div>
        <div>
            {{ (authService.afAuth.user | async)?.uid}}
        </div>
    </div>
    <button (click)="firebaseService.incrementCounter()">
        Increment
    </button>
    <div *ngIf="authLoaded">
        <button (click)='authService.signInWithGoogle()'
                *ngIf="(authService.afAuth.user | async) === null">
            Sign in with Google
        </button>
        <button (click)='authService.signOut()'
                *ngIf='authService.afAuth.user | async'>
            Sign Out
        </button>
    </div>
</div>

<!-- <router-outlet></router-outlet> -->