<div class="row">
  <div class="col-md-12 text-center">
    <p>
      Ingrese al chat con su cuenta favorita
    </p>
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="login('google')"
    >
      <i class="fab fa-google"></i> Google
    </button>
    <button
      type="button"
      class="btn btn-outline-info ml-3"
      (click)="login('twitter')"
    >
      <i class="fab fa-twitter"></i> Twitter
    </button>
    <button
      type="button"
      class="btn btn-outline-primary ml-3"
      (click)="login('facebook')"
    >
      <i class="fab fa-facebook-f"></i> Facebook
    </button>
  </div>
</div>
